.cell {
  border: 1px solid #000;
  height: 25px;
  width: 25px;
}

.ship5 {
  background-color: green;
}

.ship4 {
  background-color: purple;
}

.ship3 {
  background-color: yellow;
}

.ship2 {
  background-color: orange;
}

.ship {
  background-color: darkgray;
}

.cellMiss {
  border: 1px solid #000;
  height: 25px;
  width: 25px;
  background-color: blue;
}

.missedShip {
  background-color: grey;
}

.cellHit {
  border: 1px solid #000;
  height: 25px;
  width: 25px;
  background-color: red;
}

.status {
  display: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-flow: row wrap;;
}


.flexShipStatus {
  padding-left: 10px;
}

h1 {
  text-align: center;
}

.flexBoard {
  align-items: center;
  justify-content: center;
}
